# other app dependencies
ipykernel
python-dotenv 

# generative ai SDK dependencies
openai
pydantic<2
azureml-metrics[prompt-flow] @https://studioaiwheels.blob.core.windows.net/wheels/azureml_metrics-0.1.0.102333570-py3-none-any.whl
azure-ai-generative @https://azuremlsdktestpypi.blob.core.windows.net/repo/test-azure-ai-generative/azure_ai_generative-0.6.5-py3-none-any.whl
azureml-rag[document_parsing,cognitive_search]==0.2.9

# promptflow dependencies, these should be optional in the future
# hardcoded the version of azureml-mlflow here for faster Docker image building speed
azureml-mlflow==1.53.0
promptflow[azure]==0.1.0b7.post1
promptflow-tools==0.1.0b8
keyring
pytest

# langchain dependencies, it's used in chat demo notebook
langchain==0.0.312
semantic-kernel
