# generative ai SDK dependencies
openai
pydantic<2
RUN pip install azure-ai-generative[evaluate,index,document_parsing]

# promptflow dependencies, these should be optional in the future
# hardcoded the version of azureml-mlflow here for faster Docker image building speed
azureml-mlflow==1.53.0
promptflow[azure]
promptflow-tools
keyring

# langchain dependencies, these should be optional in the future
# langchain moved Embeddings from langchain.embeddings.base to langchain.schema.embeddings while azureml-rag is still referencing it. 
# once azureml-rag is updated to 2.0+, we can remove the langchain reference from this file
langchain<0.0.333

# inference server dependencies
azureml-inference-server-http
